<!DOCTYPE html>
<html lang="en">
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
    
          <h1 class="logo"><a href="index.html">Dev PorFolio</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
             
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header>
      
      <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/hero-bg.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
          <div class="table-cell">
            <div class="container">
              <!--<p class="display-6 color-d">Hello, world!</p>-->
              <h1 class="hero-title mb-4">I am {{name}}</h1>
              <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
              <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
          </div>
        </div>
      </div>
<body>
    

 
    <main id="main">
  
        <!-- ======= About Section ======= -->
        <section id="about" class="about-mf sect-pt4 route">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="box-shadow-full">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-sm-6 col-md-5">
                          <div class="about-img">
                            <img src="assets/img/me.jpg" class="img-fluid rounded b-shadow-a" alt="">
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-7">
                          <div class="about-info">
                            <p><span class="title-s">Name: </span> <span>Fomekong Fosso Emmanuel</span></p>
                            <p><span class="title-s">Profile: </span> <span>{{profile}}</span></p>
                            <p><span class="title-s">Email: </span> <span>{{email}}</span></p>
                            <p><span class="title-s">Phone: </span> <span>{{number}}</span></p>
                          </div>
                        </div>
                      </div>
                      
                      <div class="skill-mf">
                        <p class="title-s">Skill</p>
                        <span>HTML</span> <span class="pull-right">85%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>CSS3</span> <span class="pull-right">75%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>PHP</span> <span class="pull-right">25%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>JAVASCRIPT</span> <span class="pull-right">30%</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="about-me pt-4 pt-md-0">
                        <div class="title-box-2">
                          <h5 class="title-left">
                            About me
                          </h5>
                        </div>
                        <p class="lead">
                          I am delighted to welcome you to my student developer profile in computer science and information systems.
                        </p>
                        <p class="lead">
                          Allow me to introduce you to my passion for the world of technology and my development skills that have guided me throughout my academic journey.
                        </p>
                        <p class="lead">
                          As a student in the field of computer science and information systems, I have dedicated my time and energy to gaining a solid understanding of fundamental concepts, as well as mastering essential programming languages ​​and tools to the creation of innovative solutions.
                        </p>
                        <p class="lead">
                          My apprenticeship allowed me to develop expertise in the development of web and mobile applications, database management as well as the analysis and modeling of information systems. I have worked on various projects, ranging from creating user-friendly and intuitive applications to solving complex problems with efficient algorithms.
  
  Beyond my technical skills, I am also aware of the importance of collaboration and communication in the IT field. I had the opportunity to work in a team on multidisciplinary projects, which allowed me to develop skills in project management, conflict resolution and leadership.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
         <!-- ======= Counter Section ======= -->
      <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container position-relative">
          <div class="row">
            <div class="col-sm-3 col-lg-3">
              <div class="counter-box counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-check"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class="counter-text">PROJETS COMPLETED</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-lg-3">
              <div class="counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class="counter-text">YEARS OF EXPERIENCE</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-lg-3">
              <div class="counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-people"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class="counter-text">TOTAL CLIENTS</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-lg-3">
              <div class="counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-award"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class="counter-text">AWARD WON</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Counter Section --><!-- End About Section -->
  <!-- ======= Contact Section ======= -->
        <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
          <div class="overlay-mf"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="contact-mf">
                  <div id="contact" class="box-shadow-full">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="title-box-2">
                          <h5 class="title-left">
                            Contact Me
                          </h5>
                        </div>
                        <div>
                         
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="title-box-2 pt-4 pt-md-0">
                          <h5 class="title-left">
                            Contact Me
                          </h5>
                        </div>
                        <div class="more-info">
                          <p class="lead">
                            Do not hesitate to leave me a message for any questions, requests for information or collaboration opportunities. I will be happy to respond to you as soon as possible. Your opinion and comments are also welcome. I can't wait to read you!                        </p>
                          <ul class="list-ico">
                            <li><span class="bi bi-geo-alt"></span> Biyem-Assi Yaoundé</li>
                            <li><span class="bi bi-phone"></span> 6 94 78 67 55</li>
                            <li><span class="bi bi-envelope"></span> fomekongfossoemmanuel@gmail.com</li>
                          </ul>
                        </div>
                        <div class="socials">
                          <ul>
                            <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                            <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                            <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- End Contact Section -->
    
      </main>
</body>
</html>